.header {
  min-height: 50vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.223),rgb(137,155,132,0.3)),url("../images/alumnibanner.png");
}

.alumni-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.alumni-card {
  text-align: center;
  padding: 20px;
}

.alumni-card h2 {
  font-size: 25px;
  font-weight: 100;
}

.alumni-card p {
  margin: 0;
  font-size: 18;
}
