.header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.223), rgba(133, 152, 128, 0.3)), url("../images/dulysmiled.jpg");
}

.instagram, .youtube{
  width: 100%;
  margin: auto;
  text-align: left;
  padding-top: 0px;
  padding-left: 5%;
  background: linear-gradient(90deg, rgba(154, 190, 156, 0.441) 9%, rgba(207,210,166,1) 49%, rgba(209, 188, 218, 0.565) 100%);
}

.instagram h1, .youtube h1{
  font-size: 40px;
  font-weight: 600;
  margin-left: 20px;
  color: white;
}

.instagram p, .youtube p{
  font-size: 14px;
  font-weight: 300;
  line-height:22px;
  padding: 10px;
  margin-left: 20px;
}

.instagram a, .youtube a{
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(3, 3, 3);
  padding: 12px 34px;
  font-size: 13px;
  background:white ;
  position: relative;
  cursor: pointer;
  margin-left: 30px;
}

.instabox, .youtubebox {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.instaitem, .youtubeitem {
    padding: 40px;
}